HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

~WRL1188.tmp
~$croservices-deep-dive-section5_deep_dive_on_cloud_native.docx
~WRL1515.tmp
~$croservices-deep-dive-section6_config_managment_in_microservices.docx
~WRL2430.tmp
~$croservices-deep-dive-section8.docx
~WRL0005.tmp
~WRL0499.tmp
~$croservices-deep-dive-section9.docx