HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
master-microservices-udemy-jump/section13/docker-compose/default/.data/minio/.minio.sys/buckets/.bloomcycle.bin/xl.meta
*minio*


master-microservices-udemy-jump/section14-kafka/kafka_2.13-3.7.0.tgz
master-microservices-udemy-jump/section14-kafka/kafka_2.13-3.7.0

~WRL1188.tmp
~$croservices-deep-dive-section5_deep_dive_on_cloud_native.docx
~WRL1515.tmp
~$croservices-deep-dive-section6_config_managment_in_microservices.docx
~WRL2430.tmp
~$croservices-deep-dive-section8.docx
~WRL0005.tmp
~WRL0499.tmp
~$croservices-deep-dive-section9.docx
~$croservices-deep-dive-section13.docx
~$croservices-deep-dive-section14.docx
~WRL1147.tmp
~$croservices-deep-dive-section17.docx